*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    }

body{
    font-family: Arial, Helvetica, sans-serif;
}

.contenitore{
    width:1000px;
    margin:0 auto;
}

.card{
    height:480px;
    width: calc(1000px / 3 - 33px);
    margin: 0 10px;
    background-color: white;
    display: inline-block;
    position: relative;
    
   
}

.card img{
    width:100%;
    
}

.fronte{
    position: absolute;
    top: 0;
    left: 0;
     z-index: 99;
   }

   .marche{
    
    font-size: 14px;
}


.prezzo{
    font-size: 15px;
    color:red;
}

.scontato{
    color: black;
    text-decoration:line-through;
    
    
}




/* -------------------------------- */

.fronte:hover{
    display: none;
}







